// Set your colors
$primary: #537382;
$link: #0da14a;
$info: #005aaa;
// Import Bulma's core
@import "~bulma/sass/utilities/_all";
// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
