<template>
  <footer class="footer has-background-primary">
    <div class="container">
      <div class="columns has-text-white has-text-centered">
        <div class="column">
          <div class="block">
            <a href="https://twitter.com/RSCresponsable" target="_blank">
              <b-icon pack="fab" icon="twitter" size="is-large"> </b-icon>
            </a>
            <a
              href="https://www.instagram.com/negocioresponsable/"
              target="_blank"
            >
              <b-icon pack="fab" icon="youtube" size="is-large"> </b-icon>
            </a>
            <a
              href="https://www.youtube.com/channel/UCENe46vzF4GNWLGc3jIGQpw"
              target="_blank"
            >
              <b-icon pack="fab" icon="instagram" size="is-large"> </b-icon>
            </a>
            <a href="https://negocioresponsable.org/feed" target="_blank">
              <b-icon pack="fas" icon="rss" size="is-large"> </b-icon>
            </a>
          </div>
          <div class="block">
            <p class="title is-5 has-text-white">Contáctanos</p>
            <p>info@negocioresponsable.org</p>
          </div>
          <div class="block">
            <p class="title is-5 has-text-white">Mapa del sitio</p>
            <ul>
              <router-link :to="{ path: '/', hash: '#navbar' }"
                >Inicio</router-link
              >
              <li>
                <router-link :to="{ path: '/', hash: '#team' }"
                  >Equipo</router-link
                >
              </li>
              <li>
                <router-link :to="{ path: '/proyecto', hash: '#navbar' }"
                  >Proyecto</router-link
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="block">
            <p class="title is-5 has-text-white">Info</p>
            <p>
              Esta plataforma web, fundada por el Dr. Alberto Jiménez-Piernas
              García, es económica y políticamente independiente. Su objetivo es
              promover la responsabilidad social empresarial. Entre sus
              actividades destaca la formación, la consultoría y la I+D+i en
              materia de sostenibilidad social y ambiental. Nace como reacción
              frente a modelos basados solamente en el marketing y la
              comunicación, que extraen recursos a las empresas y organizaciones
              sin aportarles las soluciones técnicas de sostenibilidad que
              necesitan.
            </p>
            <p>
              <a
                href="https://negocioresponsable.org/sostenibilidad-servicios/"
                target="_blank"
                >Leer más</a
              >
            </p>
          </div>
        </div>
        <div class="column">
          <div class="block has--centered">
            <figure class="image is-128x128 is-inline-block">
              <b-image
                :src="require(`../assets/logo-nr-negativo.png`)"
                alt=""
              />
            </figure>
            <p class="title is-5 has-text-white">Aviso legal</p>
            <p>
              Esta plataforma web tiene una
              <a
                href="https://negocioresponsable.org/informacion-legal/"
                target="_blank"
                >política de privacidad</a
              >
              para no vender, distribuir ni ceder a terceros datos personales de
              los usuarios. No obstante, el envío de algunos datos es necesario
              para la ejecución de algunas funciones (como los formularios). El
              contenido de esta web es original y está sujeto a copyright. Logo
              y Marca Registrada.
            </p>
          </div>
        </div>
      </div>

      <div class="content has-text-white has-text-centered">
        <p>
          Todos los derechos reservados | Web realizada por
          <a href="https://nosturi.es" target="_blank">Nosturi</a>
        </p>
      </div>
    </div>
  </footer>
</template>

<style scoped>
a {
  color: white;
  font-weight: 550;
  text-decoration: underline;
}
a:hover {
  color: black;
}
footer {
  border-top: 5px solid #0da14a;
}
</style>
