<template>
  <b-navbar type="is-primary" centered id="navbar">
    <!--
    <template #brand>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        <img
          src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"
          alt="Lightweight UI components for Vue.js based on Bulma"
        />
      </b-navbar-item>
    </template>
    -->
    <template #start>
      <b-navbar-item tag="router-link" :to="{ path: '/' }">
        Inicio
      </b-navbar-item>
      <b-navbar-item tag="router-link" :to="{ path: '/', hash: '#team' }">
        Equipo
      </b-navbar-item>
      <b-navbar-dropdown label="Qué hacemos">
        <b-navbar-item tag="router-link" :to="{ path: '/proyecto' }">
          Objetivos
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/publicaciones' }">
          Publicaciones
        </b-navbar-item>
        <b-navbar-item tag="router-link" :to="{ path: '/actividades' }">
          Actividades
        </b-navbar-item>
        <b-navbar-item
          href="https://negocioresponsable.org/centro-de-recursos/"
        >
          Base de datos
        </b-navbar-item>
      </b-navbar-dropdown>
    </template>

    <!--
    <template #end>
      <b-navbar-item tag="div">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </b-navbar-item>
    </template>
    -->
  </b-navbar>
</template>
