<template>
  <div>
    <Hero :size="size" :title="title" />
    <section class="section has-background-light">
      <div class="container">
        <div class="columns is-multiline">
          <div
            class="column is-6"
            v-for="(publication, index) in publications"
            :key="index"
          >
            <a :href="publication.link" target="_blank">
              <Description :publication="publication" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Hero from "./Hero.vue";
import Description from "./Description.vue";

export default {
  data() {
    return {
      size: "is-medium",
      title: "Publicaciones",
      subtitle: "",
      publications: [],
    };
  },
  async created() {
    this.publications = await this.getPublications();
  },
  components: {
    Hero,
    Description,
  },
  methods: {
    getPublications: async () => {
      const query = `{
        publicacionesCollection {
          items {
            sys {
              id
            }
            author
            title
            journal
            issue
            pages
            link
          }
        }
      }`;
      const fetchUrl = `https://graphql.contentful.com/content/v1/spaces/${process.env.VUE_APP_CONTENTFUL_SPACE_ID}`;
      const fetchOptions = {
        method: "POST",
        headers: {
          Authorization: `Bearer ${process.env.VUE_APP_CONTENTFUL_ACCESS_TOKEN}`,
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          query,
        }),
      };
      try {
        const response = await fetch(fetchUrl, fetchOptions).then((response) =>
          response.json()
        );
        return response.data.publicacionesCollection.items;
      } catch (error) {
        throw new Error("Could not receive the data from Contentful!");
      }
    },
  },
};
</script>

<style scoped>
strong {
  color: #537382;
}

.is-caption {
  font-style: italic;
}
</style>
